@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 168 83% 2%;
    --primary-foregrond: 168 100% %;
    --secondary: 203 83% 91;
    --accent: 168 83% 73%;
    --accent-foregrond: 168 83% 73%;


  }
}